@model IEnumerable<TaskManager.Models.Companies>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Companies Index</h2>
<hr />

<p>
    @Html.ActionLink("New Company", "New", "Companies", null, new { @class = "btn btn-primary" })
</p>

<div class="container">
    <table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-bordered" id="companies"></table>
</div>
@*<input type="hidden" id="apiName" value="Companies" /> @*Used by DataTable free editor!*@

@section scripts
{
    <script>
        $(document).ready(function () {
            var myTable;

            myTable = $('#companies').DataTable({

                ajax: {
                    url: "/api/companies",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "CompanyId",
                        render: function (data, type, company) {
                            return "<a href='/companies/edit/" + data + "'>" + company.CompanyName + "</a>";
                        }
                    },
                    {
                        title: "Email",
                        data: "Email"
                    },
                    {
                        title: "Phone",
                        data: "Phone"
                    },
                    {
                        data: "CompanyId",
                        render: function (data) {
                            return "<button class='js-delete btn btn-primary btn-xs' data-company-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#companies").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this company's data?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/companies/" + button.attr("data-company-id"),
                            method: "DELETE",
                            success: function () {
                                toastr.success("Record successfully deleted.");
                                myTable.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}