@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:#f88d42;">BinaCoreGroup </h1>
    <h3 style="color:#a7c4fa;">Task Management System </h3>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    @if (Request.IsAuthenticated)
    {
        <p>Welcome, @(ViewBag.UserName)!</p>
    }
    @*else
    {
        <p><a href="@Url.Action("SignIn", "Home", null, Request.Url.Scheme)" class="btn btn-primary btn-lg">Click here to login</a></p>
    }*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Define</h2>
        <p>
            TaskManager gives you the tools you need to take your firm’s knowledge capital and put it to work. Your processes and procedures are integrated with your tasks, making your firm efficient, scalable and profitable.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Organize</h2>
        <p>With TaskManager, you’re confident that client work won’t slip through the cracks. One-time projects, recurring tasks, client emergencies — even email – are all seamlessly integrated into one list, so you and your staff have a clear view of what needs to get done today.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track</h2>
        <p>With TaskManager, you have a clear overview of all client work: what’s done, what’s in progress and what’s about to be overdue. TaskManager’s integrated time tracking allows you to spot scope creep while it’s happening. TaskManager’s management reports help you to manage your practice with insights into metrics like staff performance and project job costing.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Learn more &raquo;</a></p>
    </div>
</div>