@model TaskManager.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Dashboard</h2>
<hr />

<div style="width:90%;overflow:auto;">
    <div style="float:left; width:50%;padding-right:10px; border-right:2px groove silver ;
      border-radius:2px;">
        <h4>Task Status by Company</h4>
        <table id="taskByCompany" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Total Tasks</th>
                    <th>Completed</th>
                    <th>In Progress</th>
                    <th>Not Started</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var task in Model.Tasks)
                {
                    <tr>
                        <td>@task.CompanyId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="float:left; margin-left:10px;">
        <h4>Open Task Pool</h4>
        <table id="workpool" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Task Name</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#workpool").DataTable({
                ajax: {
                    url: "/api/dashboard",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "TaskId"
                    }
                ]
            });
        });
    </script>
}


