@model IEnumerable<TaskManager.Models.Members>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members Index</h2>

<p>
    @Html.ActionLink("New Member", "New", "Members", null, new { @class = "btn btn-primary" })
</p>

<table id="members" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Group</th>
            <th>Position</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#members").DataTable({
                ajax: {
                    url: "/api/members",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "LastName"
                    },
                    {
                        data: "FirstName"
                    },

                    {
                        data: "MemberGroupId"
                    },
                    {
                        data: "MemberPositionId"
                    },
                    {
                        data: "Email"
                    },
                    {
                        data: "Address"
                    },
                    {
                        data: "Phone"
                    }
                ]
            });
        });
    </script>
}
