@model IEnumerable<TaskManager.Models.Members>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members Index</h2>
<hr/>
<p>
    @Html.ActionLink("New Member", "New", "Members", null, new { @class = "btn btn-primary" })
</p>
<hr/>

<table id="members" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Group</th>
            <th>Position</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th> </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#members").DataTable({
                ajax: {
                    url: "/api/members",
                    dataSrc: ""
                },

                columns: [
                    {
                        data: "LastName",
                        render: function (data, type, member) {
                            return "<a href='/members/edit/" + member.MemberId + "'>" + member.FirstName + " " + member.LastName + "</a>";
                        }
                    },                  
                    {
                        data: "MemberGroup.MemberGroupName"
                    },
                    {
                        data: "MemberPosition.PositionName"
                    },
                    {
                        data: "Email"
                    },
                    {
                        data: "Address"
                    },
                    {
                        data: "Phone"
                    },
                    {
                        data: "MemberId",
                        render: function (data) {
                            return "<button class='js-delete btn btn-primary btn-xs' data-member-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#members").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this member?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/members/" + button.attr("data-member-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}