@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Task Procedures</h2>
<hr />

<table id="taskProcedures" class="table table-hover">
    <thead>
        <tr>            
            <th> </th>
            <th> </th>
            <th> </th>
            <th>Subtask Name </th>
            <th>Steps</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#taskProcedures").DataTable({
                ajax: {
                    url: "/api/taskprocedures",
                    dataSrc: ""
                },

                columns: [                    
                    {
                        data: "Tasks.TaskName",
                        visible: false
                    },
                    {
                        data: "Tasks.TaskId",
                        visible: false
                    },
                    {
                        data: "SubTasksLevel1.SubTaskId",
                        visible: false
                    },
                    {
                        data: "SubTasksLevel1.SubTaskName",
                        title: "SubTask"
                    },
                    {
                        data: "TaskSteps",
                        title: "Steps",
                        width: "30%"
                    },
                    {
                        data: "TaskProcedureId",
                        render: function (data, type, taskproc) {
                            return "<a class='btn btn-primary btn-xs' href='/taskprocedures/edit?id=" + data + "&caller=index'>View</a> | <a class='btn btn-primary btn-xs' href='/taskprocedures/DeleteTask?id=" + data + "&caller=index'>Delete</a>";
                        }
                    },

                ],

                drawCallback: function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(0, { page: 'current' }).data().each(function (group, i) {
                        var taskId = api.column(1, { page: 'current' }).data();
                        var subTaskId = api.column(2, { page: 'current' }).data();
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr style="background-color: #ddd"><td colspan="4">' + group + 
                                '&nbsp; &nbsp; &nbsp; &nbsp; <a href="/TaskProcedures/New?taskId=' + taskId[i] + '&subTaskId=' + subTaskId[i] + '" class="btn btn-primary btn-xs">Add Step</a></td></tr>'
                            );

                            last = group;
                        }
                    });
                }
            });
        });
    </script>
}


