@model TaskManager.ViewModels.AdminViewModel
@{
    /**/

    ViewBag.Title = "Admin Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Administration</h2>

<hr />
<hr />

Roles
@using (Html.BeginForm("Save", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <table id="taskByCompany" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Can Add Tasks</th>
                <th>Can Change Settings</th>
                <th>Can Reassign Tasks</th>
                <th>Can Send Emails</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>brent@binacoregroup.com.au</td>
                <td><input type="checkbox" checked="checked" disabled="disabled" /></td>
                <td><input type="checkbox" checked="checked" disabled="disabled" /></td>
                <td><input type="checkbox" checked="checked" disabled="disabled" /></td>
                <td><input type="checkbox" checked="checked" disabled="disabled" /></td>
            </tr>
            <tr>
                <td>bill@microsoft.com</td>
                <td><input type="checkbox" checked="checked" disabled="disabled" /></td>
                <td><input type="checkbox" checked="checked" disabled="disabled" /></td>
                <td><input type="checkbox" disabled="disabled" /></td>
                <td><input type="checkbox" disabled="disabled" /></td>
            </tr>
        </tbody>
    </table>

    <div class="form-group" style="display:block;">
        <div class="col-sm-12">
            <div class="btn-group pull-right">
                <a href='@("/Home/Index")' class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}
<br />




